.student-form {
  padding: 0 30px;

  &-close-button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: -10px;

    &:hover {
      background-color: hsl(0, 0%, 80%);
      transform: scale(1.2);
      transition: 200ms;
    }
  }

  &-title {
    margin: 30px 15px;
  }

  &-fields {
    display: flex;
  }

  &-col {
    width: 100%;
    padding: 0 15px;
  }

  &-field-container {
    display: flex;
    flex-direction: column;

    margin: 15px 0;

    label {
      margin-bottom: 3px;
      opacity: 0.6;
      font-weight: 700;
    }

    input {
      border: 1px solid hsl(0, 0%, 80%);
      padding: 10px;
      border-radius: 4px;

      &:focus {
        border-color: #2684ff;
        border-width: 2px;
        outline: none;
      }
    }

    &.checkbox {
      flex-direction: row-reverse;
      justify-content: start;

      label {
        margin-left: 8px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}
