.contrato-form {
  &.preview {
    overflow: unset !important;

    .contrato-form-header {
      font-size: 1.4em;
      margin-bottom: 30px;
    }

    input,
    textarea,
    select,
    .css-1s2u09g-control {
      border: 0;
      border-radius: 0;
      pointer-events: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 1.2em;
    }

    label,
    h3,
    h4 {
      font-size: 1.4em;
    }

    .contrato-form-fields {
      width: 95%;
    }

    @media (max-width: 768px) {
      .student-form-row {
        flex-direction: row;
      }
    }
  }
}
