body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-button {
  height: 32px;
  background-color: #43a047;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: darken($color: #43a047, $amount: 10);
    transform: scale(1.05);
    transition: 300ms;
  }
}
